<a href="https://colab.research.google.com/github/gaciuki2402/Awesome-Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

#create a sample dataframe
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4,5, 6]
})

In [4]:
#adding new column with  A constant
df['c'] = 10, 20, 30
print(df)

   A  B   c
0  1  4  10
1  2  5  20
2  3  6  30

In [5]:
#combining the columns
df['D'] = df['A'] + df['B']
print(df)

   A  B   c  D
0  1  4  10  5
1  2  5  20  7
2  3  6  30  9

In [6]:
#adding multiple columns at once
df = df.assign(E = [10, 11, 12], F=[17, 19, 58])
print(df)

   A  B   c  D   E   F
0  1  4  10  5  10  17
1  2  5  20  7  11  19
2  3  6  30  9  12  58

In [14]:
import sqlite3
# connect to SQLite database or create it if it doesn't exist
conn = sqlite3.connect('example.db')
print( conn)

<sqlite3.Connection object at 0x7d48059f2b40>

In [17]:
#create a table
cursor = conn.cursor()
cursor.execute('''
  CREATE TABLE IF NOT EXISTS mytable (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
  )
''')
conn.commit()

In [18]:
#insert data into the table
cursor.execute('''
  INSERT INTO mytable (name, age)
  VALUES ('Alice', 23),
         ('Bob', 25),
         ('Charlie', 27)
''')
conn.commit()

In [19]:
#query data from the table
cursor.execute('SELECT * FROM mytable')

#fetch all rows
rows = cursor.fetchall()
print(rows)

[(1, 'Alice', 23), (2, 'Bob', 25), (3, 'Charlie', 27)]